body { 
    font-family: 'Inter', sans-serif; 
}
.terminal { 
    font-family: 'Roboto Mono', monospace; 
}

/* Base custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #0B110F; 
}
::-webkit-scrollbar-thumb {
    background: #283933; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3b544b; 
}

/* Animations for pulsing and status */
@keyframes pulse-slow {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
.animate-pulse-slow {
    animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Hide numbers input arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Date input custom styles */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
    cursor: pointer;
}
